src/application/resources/schemas/atom/atom.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema 
    xmlns:atom="http://www.w3.org/2005/Atom" 
    xmlns:sawsdl="http://www.w3.org/ns/sawsdl" 
    xmlns:sox="http://www.marklogic.com/semantics/sparql-over-xml" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://www.w3.org/2005/Atom" 
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">

  <!-- MarkLogic Schema Reflection API enabling PI. -->
  <?xdmp-annotations all?>

  <xs:annotation>
    <xs:documentation> This version of the Atom schema is based on version 1.0 of the format specifications, found here http://www.atomenabled.org/developers/syndication/atom-format-spec.php. </xs:documentation>
  </xs:annotation>

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

  <xs:annotation>
    <xs:documentation> An Atom document may have two root elements, feed and entry, as defined in section 2. </xs:documentation>
  </xs:annotation>

  <xs:element name="feed" type="atom:feedType"/>

  <xs:element name="entry" type="atom:entryType"/>

  <xs:complexType name="textType" mixed="true"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#TextContent">
    <xs:annotation>
      <xs:documentation> The Atom text construct is defined in section 3.1 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="type"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#type">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="text"/>
          <xs:enumeration value="html"/>
          <xs:enumeration value="xhtml"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="personType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Person">
    <xs:annotation>
      <xs:documentation> The Atom person construct is defined in section 3.2 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#name"/>
      <xs:element name="uri" type="atom:uriType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#uri"/>
      <xs:element name="email" type="atom:emailType" minOccurs="0" maxOccurs="1"/>
      <xs:any namespace="##other"/>
    </xs:choice>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:simpleType name="emailType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#email">
    <xs:annotation>
      <xs:documentation> Schema definition for an email address. </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:pattern value="\w+@(\w+\.)+\w+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="feedType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Feed">
    <xs:annotation>
      <xs:documentation> The Atom feed construct is defined in section 4.1.1 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="3" maxOccurs="unbounded">
      <xs:element name="author" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#author"/>
      <xs:element name="category" type="atom:categoryType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#category"/>
      <xs:element name="contributor" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#contributor"/>
      <xs:element name="generator" type="atom:generatorType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#generator"/>
      <xs:element name="icon" type="atom:iconType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="id" type="atom:idType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="link" type="atom:linkType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#link"/>
      <xs:element name="logo" type="atom:logoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rights" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#rights"/>
      <xs:element name="subtitle" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#subtitle"/>
      <xs:element name="title" type="atom:textType" minOccurs="1" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#title"/>
      <xs:element name="updated" type="atom:dateTimeType" minOccurs="1" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#updated"/>
      <xs:element name="entry" type="atom:entryType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#entry"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="entryType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Entry">
    <xs:annotation>
      <xs:documentation> The Atom entry construct is defined in section 4.1.2 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs="unbounded">
      <xs:element name="author" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#author"/>
      <xs:element name="category" type="atom:categoryType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#category"/>
      <xs:element name="content" type="atom:contentType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#content"/>
      <xs:element name="contributor" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#contributor"/>
      <xs:element name="id" type="atom:idType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="link" type="atom:linkType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#link"/>
      <xs:element name="published" type="atom:dateTimeType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#published"/>
      <xs:element name="rights" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#rights"/>
      <xs:element name="source" type="atom:sourceType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#source"/>
      <xs:element name="summary" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#summary"/>
      <xs:element name="title" type="atom:textType" minOccurs="1" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#title"/>
      <xs:element name="updated" type="atom:dateTimeType" minOccurs="1" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#updated"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="contentType" mixed="true"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Content">
    <xs:annotation>
      <xs:documentation> The Atom content construct is defined in section 4.1.3 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#type"/>
    <xs:attribute name="src" type="xs:anyURI"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#src"/>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="categoryType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Category">
    <xs:annotation>
      <xs:documentation> The Atom cagegory construct is defined in section 4.2.2 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="term" type="xs:string" use="required"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#term"/>
    <xs:attribute name="scheme" type="xs:anyURI" use="optional"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#scheme"/>
    <xs:attribute name="label" type="xs:string" use="optional"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#label"/>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="generatorType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Generator">
    <xs:annotation>
      <xs:documentation> The Atom generator element is defined in section 4.2.4 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="uri" use="optional" type="xs:anyURI"
            sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#uri"/>
        <xs:attribute name="version" use="optional" type="xs:string"
            sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#name"/>
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="iconType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#icon">
    <xs:annotation>
      <xs:documentation> The Atom icon construct is defined in section 4.2.5 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="idType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#id">
    <xs:annotation>
      <xs:documentation> The Atom id construct is defined in section 4.2.6 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="linkType" mixed="true"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#Link">
    <xs:annotation>
      <xs:documentation> The Atom link construct is defined in section 3.4 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:attribute name="href" use="required" type="xs:anyURI"/>
    <xs:attribute name="rel" type="xs:string" use="optional"
        sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#rel"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
    <xs:attribute name="hreflang" use="optional" type="xs:NMTOKEN"/>
    <xs:attribute name="title" use="optional" type="xs:string"/>
    <xs:attribute name="length" use="optional" type="xs:positiveInteger"/>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="logoType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#logo">
    <xs:annotation>
      <xs:documentation> The Atom logo construct is defined in section 4.2.8 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sourceType">
    <xs:annotation>
      <xs:documentation> The Atom source construct is defined in section 4.2.11 of the format spec. </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs="unbounded">
      <xs:element name="author" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#author"/>
      <xs:element name="category" type="atom:categoryType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#category"/>
      <xs:element name="contributor" type="atom:personType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#contributor"/>
      <xs:element name="generator" type="atom:generatorType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#generator"/>
      <xs:element name="icon" type="atom:iconType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="id" type="atom:idType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="link" type="atom:linkType" minOccurs="0" maxOccurs="unbounded"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#link"/>
      <xs:element name="logo" type="atom:logoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="rights" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#rights"/>
      <xs:element name="subtitle" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#subtitle"/>
      <xs:element name="title" type="atom:textType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#title"/>
      <xs:element name="updated" type="atom:dateTimeType" minOccurs="0" maxOccurs="1"
          sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#title"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attributeGroup ref="atom:commonAttributes"/>
  </xs:complexType>

  <xs:complexType name="uriType"
      sawsdl:modelReference="http://bblfish.net/work/atom-owl/2006-06-06/#uri">
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dateTimeType">
    <xs:simpleContent>
      <xs:extension base="xs:dateTime">
        <xs:attributeGroup ref="atom:commonAttributes"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:attributeGroup name="commonAttributes">
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:lang"/>
    <xs:anyAttribute namespace="##other"/>
  </xs:attributeGroup>

</xs:schema>
